flake8==7.4.1 ; python_version >= "3.11"
isort==9.0.2 ; python_version >= "3.11"
mccabe==0.7.0 ; python_version >= "3.11"
mypy-extensions==1.1.0 ; python_version >= "3.11"
pycodestyle==2.15.0 ; python_version >= "3.11"
pyflakes==4.0.1 ; python_version >= "3.11"
ruff==0.16.10 ; python_version >= "3.11"
