flake8==7.3.0 ; python_version >= "3.9"
isort==6.0.1 ; python_version >= "3.9"
mccabe==0.7.0 ; python_version >= "3.9"
pycodestyle==2.14.0 ; python_version >= "3.9"
pyflakes==3.4.0 ; python_version >= "3.9"
ruff==0.12.4 ; python_version >= "3.9"
