flake8==7.3.0 ; python_version >= "3.10"
isort==6.0.1 ; python_version >= "3.10"
mccabe==0.7.0 ; python_version >= "3.10"
pycodestyle==2.14.0 ; python_version >= "3.10"
pyflakes==3.4.0 ; python_version >= "3.10"
ruff==0.12.9 ; python_version >= "3.10"
