colorama==0.4.6 ; python_version >= "3.11" and sys_platform == "win32"
coverage==7.16.2 ; python_version >= "3.11"
iniconfig==2.3.0 ; python_version >= "3.11"
packaging==26.3 ; python_version >= "3.11"
pluggy==1.6.0 ; python_version >= "3.11"
pygments==2.21.0 ; python_version >= "3.11"
pytest-randomly==5.0.0 ; python_version >= "3.11"
pytest==9.1.1 ; python_version >= "3.11"
