ast-serialize==0.11.2 ; python_version >= "3.11"
librt==0.16.0 ; python_version >= "3.11" and platform_python_implementation != "PyPy"
mypy-extensions==1.1.0 ; python_version >= "3.11"
mypy==2.3.1 ; python_version >= "3.11"
pathspec==1.1.1 ; python_version >= "3.11"
typing-extensions==4.16.0 ; python_version >= "3.11"
