mypy-extensions==1.0.0 ; python_version >= "3.9"
mypy==1.14.1 ; python_version >= "3.9"
tomli==2.2.1 ; python_version < "3.11" and python_version >= "3.9"
typing-extensions==4.12.2 ; python_version >= "3.9"
