build==1.6.1 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11" and os_name == "nt"
packaging==26.3 ; python_version >= "3.11"
pip==26.2.1 ; python_version >= "3.11"
pyproject-hooks==1.3.3 ; python_version >= "3.11"
