build==1.2.2.post1 ; python_version >= "3.9"
colorama==0.4.6 ; python_version >= "3.9" and os_name == "nt"
importlib-metadata==8.7.0 ; python_version >= "3.9" and python_full_version < "3.10.2"
packaging==25.0 ; python_version >= "3.9"
pip==25.1.1 ; python_version >= "3.9"
pyproject-hooks==1.2.0 ; python_version >= "3.9"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
zipp==3.23.0 ; python_version >= "3.9" and python_full_version < "3.10.2"
