build==1.3.0 ; python_version >= "3.10"
colorama==0.4.6 ; python_version >= "3.10" and os_name == "nt"
importlib-metadata==8.7.0 ; python_version >= "3.10" and python_full_version < "3.10.2"
packaging==25.0 ; python_version >= "3.10"
pip==25.2 ; python_version >= "3.10"
pyproject-hooks==1.2.0 ; python_version >= "3.10"
tomli==2.2.1 ; python_version == "3.10"
zipp==3.23.0 ; python_version >= "3.10" and python_full_version < "3.10.2"
